---
import imageUrlBuilder from '@sanity/image-url';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';
import { client } from 'sanity/client';

const imageBuilder = imageUrlBuilder(client).format('webp');

interface Post {
  mainImage: SanityImageSource;
  title: string;
  titleLocalised: string;
}

export type Props = {
  imageSizes: string;
  lazy: boolean;
  post: Post;
};

const { imageSizes, lazy = false, post } = Astro.props;

// @TODO: Refactor to use `astro-sanity-picture`.
function urlFor(source: SanityImageSource, size: number): string {
  return imageBuilder.image(source).width(size).height(size).url();
}
---

<article class="relative group">
  {
    post?.mainImage && (
      <figure>
        <img
          alt={post.mainImage?.alt || ''}
          title={post.mainImage?.alt}
          class="absolute inset-0 max-w-full h-auto object-cover bg-gray-100 aspect-square"
          srcset={[
            `${urlFor(post.mainImage, 480)} 480w`,
            `${urlFor(post.mainImage, 768)} 768w`,
            `${urlFor(post.mainImage, 1000)} 1000w`,
          ].join(', ')}
          sizes={imageSizes}
          width="1000"
          height="1000"
          loading={lazy ? 'lazy' : 'eager'}
          transition:name={`post_${post._id}_image`}
        />
      </figure>
    )
  }
  <div class="flex items-end relative aspect-square z-10 p-4 lg:p-8">
    <a
      class="block before:absolute before:inset-0 before:bg-primary/50 before:z-[-1] opacity-0 hover:opacity-100 transition-all duration-500 text-white text-5xl font-bold leading-none"
      href={`/post/${post.slug}`}
    >
      {post.title}
    </a>
  </div>
</article>
