---
import { getCountryList, getPostTeasers } from "~/sanity/queries";
import PageLayout from "~/layouts/PageLayout.astro";
import { Heading, PostTeaser, Text } from "~/components";

const posts = await getPostTeasers();
const countries = await getCountryList();
---

<PageLayout>
  <div class="container mb-8 md:mb-12 lg:mb-16">
    <div
      class="flex flex-col gap-y-8 md:flex-row md:items-end md:justify-between"
    >
      <div class="mx-auto max-w-[50ch] text-center md:mx-0 md:text-left">
        <Heading class:list="mb-8" as="h1">
          <span class="sr-only">Mahole Gallery</span> The Pavement Chronicles
        </Heading>
        <Text size="lg">
          Manhole Gallery is your portal to the world's hidden street art,
          showcasing captivating manhole cover designs from all <em>around</em>
          the flat earth. Explore the artistic and cultural diversity beneath your
          feet with us!
        </Text>
      </div>

      <div class="text-center md:text-right">
        <Text size="md">Countries mentioned</Text>
        <Text
          size="sm"
          class:list="flex justify-center md:justify-end gap-2 flex-wrap"
        >
          {
            countries?.map((country) => (
              <a
                class="link"
                href={`/country/${country.slug}`}
                aria-label={`View all posts in ${country.name}`}
                transition:name={`country_list_${country._id}`}
              >
                {country.name}
              </a>
            ))
          }
        </Text>
      </div>
    </div>
  </div>

  <div
    class="xs:grid-cols-2 mx-auto grid max-w-[125rem] flex-1 grid-cols-1 justify-start gap-4 align-top lg:grid-cols-3"
  >
    {
      posts.map((post, index) => (
        <PostTeaser
          imageSizes="(max-width: 474px) 100vw, (max-width: 1023px) 50vw, (max-width: 125rem) 33.334vw, 40rem"
          post={post}
          lazy={index >= 6}
        />
      ))
    }
    {
      posts.length % 3 !== 0 && (
        <div class="col-span-[-1] teaser-placeholder hidden flex-col justify-center space-y-4 border-2 border-dashed border-black/30 text-center align-middle dark:border-white/30">
          <Heading as="p" size="h3">
            Feel free to contribute
          </Heading>
          <p>
            <a href="mailto:callum@wrux.com" class="button">
              Message Me
            </a>
          </p>
        </div>
      )
    }
  </div>
</PageLayout>

<style>
  .teaser-placeholder:nth-child(3n):nth-last-of-type(1) {
    @screen xs {
      display: flex;
    }
  }

  .teaser-placeholder:nth-child(3n-1):nth-last-of-type(1) {
    grid-column: span 1;

    @screen xs {
      display: flex;
    }

    @screen lg {
      grid-column: span 2;
    }
  }

  .teaser-placeholder:nth-child(3n-2):nth-last-of-type(1) {
    grid-column: span 3;

    @screen xs {
      display: flex;
    }
  }
</style>
