---
import { getCountryList, getPostTeasers } from '~/sanity/queries';
import PageLayout from '~/layouts/PageLayout.astro';
import { Heading, PostTeaser, Text } from '~/components';

const posts = await getPostTeasers();
const countries = await getCountryList();
---

<PageLayout>
  <div class="container mb-8 md:mb-12 lg:mb-16">
    <div class="max-w-[40ch] text-center md:text-left mx-auto md:mx-0">
      <Heading class:list="mb-8" as="h1">
        Mahole Gallery, the Pavement Chronicles
      </Heading>
      <Text size="lg">
        Unearth street art beneath your feet from all <em>around</em> the flat
        earth.
      </Text>
      <div class="mt-4 lg:mt-6">
        <Text size="md">Countries mentioned</Text>
        <Text size="sm">
          {
            countries?.map((country) => (
              <a
                class="link mr-2"
                href={`/country/${country.slug}`}
                aria-label={`View all posts in ${country.name}`}
                transition:name={`country_list_${country._id}`}
              >
                {country.name}
              </a>
            ))
          }
        </Text>
      </div>
    </div>
  </div>

  <div
    class="grid grid-cols-1 xs:grid-cols-2 lg:grid-cols-3 flex-1 align-top justify-start gap-4 max-w-[125rem] mx-auto"
  >
    {
      posts.map((post, index) => (
        <PostTeaser
          imageSizes="(max-width: 474px) 100vw, (max-width: 1023px) 50vw, (max-width: 125rem) 33.334vw, 40rem"
          post={post}
          lazy={index >= 6}
        />
      ))
    }
    {
      posts.length % 3 !== 0 && (
        <div class="hidden align-middle justify-center flex-col border-2 border-dashed border-black/30 dark:border-white/30 col-span-[-1] text-center teaser-placeholder space-y-4">
          <Heading as="p" size="h3">
            Feel free to contribute
          </Heading>
          <p>
            <a href="mailto:callum@wrux.com" class="button">
              Message Me
            </a>
          </p>
        </div>
      )
    }
  </div>
</PageLayout>

<style>
  .teaser-placeholder:nth-child(3n):nth-last-of-type(1) {
    @screen xs {
      display: flex;
    }
  }

  .teaser-placeholder:nth-child(3n-1):nth-last-of-type(1) {
    grid-column: span 1;

    @screen xs {
      display: flex;
    }

    @screen lg {
      grid-column: span 2;
    }
  }

  .teaser-placeholder:nth-child(3n-2):nth-last-of-type(1) {
    grid-column: span 3;

    @screen xs {
      display: flex;
    }
  }
</style>
