---
import { getPosts } from 'sanity/queries';
import imageUrlBuilder from '@sanity/image-url';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';
import { client } from 'sanity/client';
import {
  Credits,
  Heading,
  PortableText,
  PostTeaser,
  Text,
} from 'components/shared';
import PageLayout from 'components/layout/PageLayout.astro';

const imageBuilder = imageUrlBuilder(client);

// @TODO: Refactor to use `astro-sanity-picture`.
function urlFor(source: SanityImageSource): string {
  return imageBuilder.image(source).width(600).height(600).url();
}

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((posts) => ({
    params: { slug: posts.slug },
    props: posts,
  }));
}

type Props = any;

const post = Astro.props;

let invocations = 1;

const fadeInAnimation = () => {
  const delay = `${invocations++ * 250}ms`;
  const duration = '750ms';
  const animation = {
    old: {
      name: 'fadeIn',
      delay,
      duration,
      easing: 'linear',
      fillMode: 'forwards',
    },
    new: {
      name: 'fadeIn',
      delay,
      duration,
      easing: 'linear',
      fillMode: 'backwards',
    },
  };
  return {
    forwards: animation,
    backwards: animation,
  };
};
---

<PageLayout>
  <div class="container">
    <article class="grid md:grid-cols-2 gap-8">
      <div>
        {
          post?.mainImage && (
            <figure>
              <img
                alt={post.mainImage?.alt || ''}
                title={post.mainImage?.alt}
                class="max-w-full h-auto object-cover bg-gray-100 aspect-square"
                src={urlFor(post.mainImage)}
                transition:name={`post_${post._id}_image`}
              />
            </figure>
          )
        }
      </div>

      <div class="space-y-4">
        <Heading
          as="h1"
          transition:animate={fadeInAnimation()}
          transition:name={`post_${post._id}_title`}
        >
          {post.title}
        </Heading>

        {
          post?.locations && (
            <p
              class="flex gap-3 flex-wrap text-lg"
              transition:animate={fadeInAnimation()}
              transition:name={`post_${post._id}_locations`}
            >
              <span class="sr-only">Locations:</span>
              {post.locations.map((location) => (
                <span>{location.name}</span>
              ))}
            </p>
          )
        }

        {
          (post?.body || post?.summary) && (
            <div
              class="max-w-prose lg:py-4"
              transition:animate={fadeInAnimation()}
              transition:name={`post_${post._id}_description`}
            >
              <PortableText value={post.body || post.summary} components={{}} />
            </div>
          )
        }

        {
          post?.credits && post.credits.length > 0 && (
            <Credits
              credits={post.credits}
              transition:animate={fadeInAnimation()}
              transition:name={`post_${post._id}_credits`}
            />
          )
        }
      </div>
    </article>

    <section class="my-8 md:my-12 lg:my-16">
      <Heading as="h2" class:list="mb-4 lg:mb-8">More Posts</Heading>
      <div
        class="grid xs:grid-cols-2 lg:grid-cols-3 align-top justify-start gap-4"
      >
        {post.morePosts.map((post) => <PostTeaser lazy post={post} />)}
      </div>
    </section>
  </div>
</PageLayout>
