---
import { getCountries } from '~/sanity/queries';
import PageLayout from '~/layouts/PageLayout.astro';
import { CountryShape, PostTeaser } from '~/components';

export async function getStaticPaths() {
  const countries = await getCountries();
  return countries.map((country) => ({
    params: { slug: country.slug },
    props: country,
  }));
}

export type Props = Country;

const country = Astro.props;
---

<PageLayout
  meta={{
    title: `${country.name} | Manhole Gallery`,
  }}
>
  <div class="container mb-16 md:mb-20 lg:mb-24">
    <div class="mx-auto max-w-4xl text-center">
      <div class="mb-8 flex justify-center">
        {
          country?.countryCode && (
            <CountryShape
              countryCode={country.countryCode}
              class:list="mx-auto max-w-full"
              transition:name={`country_${country._id}`}
            />
          )
        }
      </div>
      <div class="space-y-3">
        <h1 class="type-h1">{country.name}</h1>
        {
          country.nameLocalised && (
            <p class="type-h3">{country.nameLocalised}</p>
          )
        }
      </div>
    </div>
  </div>

  {
    country?.posts && country.posts.length > 0 && (
      <div class="gallery-grid w-full">
        {country.posts.map((post, index) => (
          <PostTeaser
            imageSizes="(max-width: 474px) 100vw, (max-width: 1023px) 50vw, (max-width: 125rem) 33.334vw, 40rem"
            post={post}
            lazy={index >= 6}
          />
        ))}
      </div>
    )
  }
</PageLayout>
