---
import { Heading } from '.';

export type Props = {
  credits: Array<any>;
};

const { credits, ...props } = Astro.props;

const labels = {
  author: 'Authored by',
  edit: 'Edited by',
  photo: 'Photo by',
};
---

<div {...props}>
  <Heading as="p" class:list="mb-3" size="h6">Credits</Heading>
  {
    credits.length > 0 ? (
      <div class="space-y-1.5">
        {credits.map((credit) => {
          const label = labels?.[credit.type];
          return (
            <div>
              <p>
                {label && (
                  <span class="inline mr-1 font-semibold">{label}</span>
                )}
                {credit?.person?.website ? (
                  <a
                    href={credit?.person?.website}
                    class="link"
                    target="_blank"
                    rel="noreferrer"
                  >
                    {credit?.person?.fullName}
                    <span class="sr-only">(opens in new tab)</span>
                  </a>
                ) : (
                  <span>{credit?.person?.fullName}</span>
                )}
              </p>
              {credit?.note && <p class="text-sm italic">{credit.note}</p>}
            </div>
          );
        })}
      </div>
    ) : (
      <p>No credits.</p>
    )
  }
</div>
