---
export type Props = {
  credits: Array<Credit>;
};

const { credits, ...props } = Astro.props;

const labels = {
  author: 'Authored by',
  edit: 'Edited by',
  photo: 'Photo by',
};
---

<div {...props} class="rounded-lg border border-current/10 bg-surface/50 p-6 dark:bg-surface-dark/50">
  <p class="type-h6 mb-4">Credits</p>
  {
    credits.length > 0 ? (
      <div class="space-y-3">
        {credits.map((credit) => {
          const label = labels?.[credit.type];
          return (
            <div class="space-y-1">
              <p class="type-sm">
                {label && (
                  <span class="mr-2 inline font-semibold text-current/70">{label}</span>
                )}
                {credit?.person?.website ? (
                  <a
                    href={credit?.person?.website}
                    class="link-reverse"
                    target="_blank"
                    rel="noreferrer"
                  >
                    {credit?.person?.fullName}
                    <span class="sr-only">(opens in new tab)</span>
                  </a>
                ) : (
                  <span>{credit?.person?.fullName}</span>
                )}
              </p>
              {credit?.note && <p class="type-sm italic text-current/60">{credit.note}</p>}
            </div>
          );
        })}
      </div>
    ) : (
      <p class="type-sm text-current/60">No credits.</p>
    )
  }
</div>
