---
import { sanityClient } from 'sanity:client';
import imageUrlBuilder from '@sanity/image-url';
import type { SanityImageSource } from '@sanity/image-url/lib/types/types';

const imageBuilder = imageUrlBuilder(sanityClient).format('webp');

export type Props = {
  imageSizes: string;
  lazy?: boolean;
  post: PostTeaser;
};

const { imageSizes, lazy = false, post } = Astro.props;

const sizes = [256, 360, 440, 529, 625, 729, 841, 961, 1024];

// @TODO: Refactor to use `astro-sanity-picture`.
function urlFor(source: SanityImageSource, size: number): string {
  return imageBuilder.image(source).width(size).height(size).url();
}
---

<article class="group relative">
  {
    post?.mainImage && (
      <figure>
        <img
          alt={post.mainImage?.alt || ''}
          title={post.mainImage?.alt}
          class="absolute inset-0 aspect-square h-auto max-w-full bg-gray-100 object-cover"
          srcset={sizes
            .map((size) => `${urlFor(post.mainImage, size)} ${size}w`)
            .join(', ')}
          sizes={imageSizes}
          width="1000"
          height="1000"
          loading={lazy ? 'lazy' : 'eager'}
          transition:name={`post_${post._id}_image`}
        />
      </figure>
    )
  }
  <div class="relative z-10 flex aspect-square items-end p-4 lg:p-8">
    <a
      class="before:bg-primary/50 block text-2xl font-bold leading-none text-white opacity-0 transition-all duration-500 before:absolute before:inset-0 before:z-[-1] hover:opacity-100 focus:opacity-100 md:text-3xl lg:text-5xl"
      href={`/post/${post.slug}`}
    >
      {post.title}
    </a>
  </div>
</article>
